[Desktop Entry]
Encoding=UTF-8
Name=Autostart_MQTT
Exec=lxterminal -e "sudo python /home/pi/Documents/mqtt_f.py"
Icon=lxterminal
Type=Application
Categories=Utility;